.container img {
  max-width: 100%;

  opacity: 0.5;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: 35%;
  left: 10%;
}
.zindex-more h1 {
  z-index: 1;
  color: black;
  font-weight: bold;
  font-family: "Roboto Slab", "Times New Roman", serif;
}
.zindex-more h2 {
  color: black;
  font-weight: 400;
  font-family: "Roboto Slab", "Times New Roman", serif;
}
